.mapcomp-main{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    width: 100%;
}

.mapcomp-main-address{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.mapcomp-main-map{
    height: 40vh;
    width: 70%;
    margin-right: 20px;
}
